.available-tokens {
    color: #696969;
    font-size: 11px;
}
.available-tokens .token {
    display: inline-block;
    cursor: pointer;
    background-color: #667890;
    margin: 3px;
    color: #fff;
    padding: 2px 10px;
}